.nav-link {
  color: white !important;
}
.myhero {
  background-image: url(./assets/images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
  height: 60vh;
}

@media only screen and (max-width: 600px) {
  .myhero {
    background-image: url(./assets/images/hero_mobile.png);
    height: 100vh;
  }
}
